
.first1{
    border: 1px solid black;
    margin:  20px 100px 10px 100px;
    height: 400px;
}
.second1{
    background-color:WHITE;
    border: 1px solid black;
    margin:  20px 100px 10px 100px; 
    height:600px ;
    color: BLACK; 
}
section{
    border: 1px solid black;
    height: 600px;
}
.left{
    
    border: 1px solid black;
    height: 100%;
    width: 69.5%;
    float:left;
}
.right{
    text-align: center;
    border: 1px solid black;
    height: 100%;
    width: 30%;
    float: right;
}
.five{
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    width: 870px;
    height:85px;
    margin: 10px;
}
.two{
    margin: 10px;
    border: 1px solid black; 
}
select{
    width: 330px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  resize: vertical;
}
input[type=date]{
    width: 200px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  resize: vertical;
}
button{
    height: 100%;
    width: 100%;
    background-color:cornflowerblue ;
    font-weight: bold;
    font-size: 25PX;
    color: white;
    border-radius: 10PX;
}
#map{
    height: 100%;
}